/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/_base.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

/* line 5, ../sass/_base.sass */
a {
  color: inherit; }

/* line 8, ../sass/_base.sass */
input {
  margin: 0; }

/* line 11, ../sass/_base.sass */
html {
  font-family: "Open Sans", "Lucida Grande", "Lucida Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #383838;
  -webkit-font-smoothing: antialiased; }

/* line 19, ../sass/_base.sass */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase; }

/* line 29, ../sass/_base.sass */
h1 {
  font-size: 48px; }

/* line 32, ../sass/_base.sass */
h2 {
  font-size: 30px;
  letter-spacing: -2.18182px;
  margin-bottom: 24px; }

/* line 37, ../sass/_base.sass */
p {
  margin: 24px; }
  /* line 40, ../sass/_base.sass */
  p.emphasis, .sign_up p, .learning_opportunities .container p {
    font-size: 18px;
    font-weight: bold; }

/* line 44, ../sass/_base.sass */
strong {
  font-weight: bold; }

/* line 47, ../sass/_base.sass */
em {
  font-style: italic; }

/* line 50, ../sass/_base.sass */
a {
  color: #637a62; }

/* line 53, ../sass/_base.sass */
header,
footer,
section {
  padding: 42px 0 48px;
  text-align: center; }

/* line 59, ../sass/_base.sass */
.container {
  margin: 0 auto;
  max-width: 950px; }

/* line 63, ../sass/_base.sass */
.half, footer .email_address,
footer .copyright {
  float: left;
  width: 50%; }

/* line 3, ../sass/_splash.sass */
header,
footer,
.learning_opportunities {
  background-size: cover;
  color: white; }

/* line 9, ../sass/_splash.sass */
header,
footer {
  background-image: url('../img/background-chalkboard-green.jpg?1362608272'); }

/* line 14, ../sass/_splash.sass */
section .container:after {
  content: "";
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0; }

/* line 22, ../sass/_splash.sass */
.sign_up,
.join_us {
  background-image: url('../img/background-pattern.png?1351255824');
  box-shadow: 0 0 100px 0 black;
  z-index: 2; }
  /* line 29, ../sass/_splash.sass */
  .sign_up .container:after,
  .join_us .container:after {
    border-bottom-color: #90928f; }

/* line 33, ../sass/_splash.sass */
.learning_opportunities .container:after {
  border: 0; }

/* line 40, ../sass/_splash.sass */
header .container {
  width: 770px;
  height: 600px; }
/* line 44, ../sass/_splash.sass */
header #slide-previous,
header #slide-next {
  position: absolute;
  top: 230px;
  opacity: 0.75;
  cursor: pointer;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s; }
  /* line 53, ../sass/_splash.sass */
  header #slide-previous:hover,
  header #slide-next:hover {
    opacity: 1; }
/* line 56, ../sass/_splash.sass */
header #slide-previous {
  left: 0; }
/* line 59, ../sass/_splash.sass */
header #slide-next {
  right: 0; }
/* line 62, ../sass/_splash.sass */
header #slide-pager {
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 32px;
  width: 100%;
  padding: 8px 0; }
  /* line 70, ../sass/_splash.sass */
  header #slide-pager a {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 4px;
    background: url('../img/slideshow-pager-inactive.png?1362590309') center no-repeat;
    text-indent: -10000px; }
    /* line 79, ../sass/_splash.sass */
    header #slide-pager a.activeSlide {
      background: url('../img/slideshow-pager-active.png?1362590301') center no-repeat; }
/* line 82, ../sass/_splash.sass */
header .slides {
  margin: 0 auto;
  width: 700px;
  height: 560px;
  overflow: hidden; }
  /* line 88, ../sass/_splash.sass */
  header .slides div {
    width: 100%; }
  /* line 91, ../sass/_splash.sass */
  header .slides p {
    margin: 16px; }
  /* line 95, ../sass/_splash.sass */
  header .slides .instructions {
    font-size: 19.2px;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase; }

/* line 102, ../sass/_splash.sass */
.sign_up .button {
  background: url('../img/button.png?1362590258') center center no-repeat;
  color: white;
  display: inline-block;
  font-weight: bold;
  margin: 0 12px;
  padding: 4.8px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 128px;
  height: 35px; }
/* line 116, ../sass/_splash.sass */
.sign_up .button.student:after {
  content: "";
  border-right: 1px solid #383838;
  position: absolute;
  top: 16%;
  right: -17px;
  width: 1px;
  height: 22px; }

/* line 128, ../sass/_splash.sass */
.learning_opportunities {
  background-image: url('../img/background-chalkboard-black.jpg?1362608262'); }
  /* line 131, ../sass/_splash.sass */
  .learning_opportunities .container {
    overflow: hidden;
    *zoom: 1;
    background-image: url('../img/background-clipped_paper.png?1362593784');
    background-position: center 90px;
    background-repeat: no-repeat;
    max-width: 1182px;
    min-height: 569px; }
    /* line 139, ../sass/_splash.sass */
    .learning_opportunities .container h2 {
      margin: 0 auto;
      width: 950px; }
    /* line 146, ../sass/_splash.sass */
    .learning_opportunities .container .organizations {
      overflow: hidden;
      *zoom: 1;
      margin: 60px auto 0;
      width: 950px;
      padding: 0 15px;
      height: 520px;
      border-bottom: 1px solid #e9edec; }
      /* line 154, ../sass/_splash.sass */
      .learning_opportunities .container .organizations li {
        float: left;
        margin: 0 6px 6px; }
        /* line 158, ../sass/_splash.sass */
        .learning_opportunities .container .organizations li img {
          border: 1px solid #b5b5b6;
          width: 80px;
          height: 80px; }

/* line 164, ../sass/_splash.sass */
footer .logos {
  border-bottom: 1px solid white;
  padding-bottom: 24px;
  margin: 24px 0;
  text-align: center; }
  /* line 170, ../sass/_splash.sass */
  footer .logos img {
    margin: 0 24px;
    width: 110px;
    height: 110px; }
/* line 179, ../sass/_splash.sass */
footer .email_address {
  text-align: left; }
  /* line 182, ../sass/_splash.sass */
  footer .email_address a {
    color: white; }
/* line 185, ../sass/_splash.sass */
footer .copyright {
  text-align: right; }

/* line 193, ../sass/_splash.sass */
section h2:before, section h2:after,
footer h2:before,
footer h2:after {
  content: "";
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e9edec;
  position: absolute;
  top: 50%; }
/* line 202, ../sass/_splash.sass */
section h2:before,
footer h2:before {
  left: 0; }
/* line 205, ../sass/_splash.sass */
section h2:after,
footer h2:after {
  right: 0; }

/* line 211, ../sass/_splash.sass */
.sign_up h2:before, .sign_up h2:after,
.join_us h2:before,
.join_us h2:after {
  border-bottom-color: #90928f; }

/* line 216, ../sass/_splash.sass */
.sign_up h2:before, .sign_up h2:after {
  width: 38%; }

/* line 221, ../sass/_splash.sass */
.learning_opportunities h2:before, .learning_opportunities h2:after {
  width: 30%; }

/* line 226, ../sass/_splash.sass */
.join_us h2:before, .join_us h2:after {
  width: 42%; }

/* line 231, ../sass/_splash.sass */
footer h2:before, footer h2:after {
  width: 40%; }
