{% extends 'auth/layout.html' %}
{% set bodyClass = 'password' %}
{% set pageTitle = 'Forgotten Password' %}
{% set navItem = 'auth' %}

{% block content %}
	<form class="form-horizontal span6 offset3" method="post">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="input-username">Email or Nickname</label>
				<div class="controls">
					<input type="text" id="input-username" name="username" placeholder="e.g. user@example.com">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<p><button type="submit" class="btn">Submit</button></p>
					<small>Don't have an account? <a href="/signup">Sign up.</a></small>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}