{% extends 'auth/layout.html' %}
{% set bodyClass = 'password' %}
{% set pageTitle = 'Reset your password' %}
{% set navItem = 'auth' %}

{% block content %}
	<form class="form-horizontal row-fluid" method="post">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">
		<fieldset class="span12 well">
			<div class="control-group">
				<label class="control-label" for="input-username">Email or Username</label>
				<div class="controls">
					<input type="text" id="input-username" name="username" placeholder="e.g. user@example.com">
					<span class="help-block">We need this to confirm who you are.</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" id="input-password-label" for="input-password">Your Password</label>
				<div class="controls">
					{% if passwordGenerated %}
						<input type="text" readonly="readonly" id="input-password" value="{{ password }}">
					{% else %}
						<input type="password" id="input-password" name="password">
					{% endif %}
					<div class="alert help-block">Print this page so you won't forget this! You'll need it to log in again later.</div>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<p><button type="submit" class="btn">Submit</button></p>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}

{% block finally %}
	<script>
		(function() {
			{% include 'includes/password-test.js' %}

			{% if passwordGenerated %}
				var $input = $('#input-password'),
				    $label = $('#input-password-label'),
				    $container = $input.parent(),
				    $wrapper = $(document.createElement('div')),
				    $button = $(document.createElement('button'));

				$wrapper
					.addClass('input-append')
					.insertBefore($input);

				$button
					.addClass('btn')
					.attr({type: 'button', title: 'Choose your own password'})
					.html('Choose your own');

				$button.click(function() {
					var $password = $(document.createElement('input'));

					$password.attr({
						type: 'password',
						id: 'input-password',
						name: 'password',
						required: 'required'
					});

					$password.insertBefore($wrapper);
					$wrapper.remove();
					$password.focus();

					setupPasswordStrengthTest();
				});

				$wrapper
					.append($input)
					.append($button);
			{% else %}
				setupPasswordStrengthTest();
			{% endif %}
		})();
	</script>
{% endblock %}