{% extends 'auth/layout.html' %}
{% set bodyClass = 'sign-up' %}
{% set pageTitle = 'Sign Up' %}
{% set navItem = 'auth' %}

{% block content %}
<div class="row">
	<div class="span6">
		<div class="well">
			<a href="/signup/learners">
				<h3>Learners</h3>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</a>
		</div>
	</div>
	<div class="span6">
		<div class="well">
			<a href="/signup/parents">
				<h3>Parents &amp; Guardians</h3>
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</a>
		</div>
	</div>
</div>
{% endblock %}