{% extends 'auth/layout.html' %}
{% set bodyClass = 'parent-sign-up' %}
{% set pageTitle = 'Parents & Guardians' %}
{% set navItem = 'sign-up' %}

{% block content %}
	<form class="form-horizontal span6 offset3" method="post">
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="input-email">Email</label>
				<div class="controls">
					{% if auto_email %}
						<input type="email" readonly="readonly" id="input-email" value="{{ auto_email }}">
					{% else %}
						<input type="email" id="input-email" name="email" placeholder="e.g. user@example.com" required="required">
					{% endif %}
					<span class="help-block"><strong><a href="#">Please see our privacy policy.</a></strong></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input-password">Password</label>
				<div class="controls">
					<input type="password" id="input-password" name="password" required="required">
					<span class="help-block">Don't forget this! You'll need it to log in again later.</span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<p><button type="submit" class="btn">Sign Up</button></p>
					<small>Already have an account? <a href="/login">Log in</a>.</small>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}

{% block finally %}
<script>
	(function() {
		{% include 'includes/password-test.js' %}
		setupPasswordStrengthTest();
	})();
</script>
{% endblock %}