{% extends 'auth/layout.html' %}
{% set bodyClass = 'sign-up' %}
{% set pageTitle = 'Sign Up' %}

{% block content %}
	<form class="form-horizontal span6 offset3" method="post">
		<p class="text-center">Sign up with <a href="#">Facebook</a>, etc. <span class="divider"><em>or</em></span></p>
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="input-name">Name</label>
				<div class="controls">
					<input type="text" id="input-name" name="name">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input-email">Email</label>
				<div class="controls">
					<input type="email" id="input-email" name="email" placeholder="e.g. user@example.com">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input-birthday-month">Birthday</label>
				<div class="controls">
					<select id="input-birthday-month" name="birthday-month" class="input-small">
						<option></option>
						<option value="01">January</option>
						<option value="02">February</option>
						<option value="03">March</option>
						<option value="04">April</option>
						<option value="05">May</option>
						<option value="06">June</option>
						<option value="07">July</option>
						<option value="08">August</option>
						<option value="09">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>
					</select>
					<select id="input-birthday-day" name="birthday-day" class="input-mini">
						<option></option>
						<option value="01">1</option>
						<option value="02">2</option>
						<option value="03">3</option>
						<option value="04">4</option>
						<option value="05">5</option>
						<option value="06">6</option>
						<option value="07">7</option>
						<option value="08">8</option>
						<option value="09">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
					</select>
					<select id="input-birthday-year" name="birthday-year" class="input-mini">
						<option></option>
						<option>2012</option>
						<option>2011</option>
						<option>2010</option>
						<option>2009</option>
						<option>2008</option>
						<option>2007</option>
						<option>2006</option>
						<option>2005</option>
						<option>2004</option>
						<option>2003</option>
						<option>2002</option>
						<option>2001</option>
						<option>2000</option>
						<option>1999</option>
						<option>1998</option>
						<option>1997</option>
						<option>1996</option>
						<option>1995</option>
						<option>1994</option>
						<option>1993</option>
						<option>1992</option>
						<option>1991</option>
						<option>1990</option>
						<option>1989</option>
						<option>1988</option>
						<option>1987</option>
						<option>1986</option>
						<option>1985</option>
						<option>1984</option>
						<option>1983</option>
						<option>1982</option>
						<option>1981</option>
						<option>1980</option>
					</select>
				</div>
			</div>
			<div class="form-actions">
				<p><button type="submit" class="btn">Sign Up</button></p>
				<small>Already have an account? <a href="/login">Log in.</a></small><br>
				<small>Parents and guardians - <a href="/signup/parents">sign up here!</a></small>
			</div>
		</fieldset>
	</form>
{% endblock %}