{% extends 'auth/layout.html' %}
{% set bodyClass = 'sign-up' %}
{% set pageTitle = 'Almost there' %}
{% set navItem = 'sign-up' %}

{% block content %}
	<form class="form-horizontal span6 offset3" method="post">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="input-email">Email</label>
				<div class="controls">
					<input type="email" id="input-email" name="email" required="required">
					<span class="help-block">You'll need this to claim your badges.</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" id="input-password-label">Password</label>
				<div class="controls">
					<input type="text" readonly="readonly" id="input-password" value="{{ password }}">
					<span class="help-block">Don't forget this! You'll need it to log in again later.</span>
					<script>
						(function() {
							var input = document.getElementById('input-password'),
							    label = document.getElementById('input-password-label'),
							    container = input.parentNode,
							    wrapper = document.createElement('div'),
							    button = document.createElement('button');

							wrapper.className = 'input-append';
							container.insertBefore(wrapper, input);

							button.className = 'btn';
							button.type = 'button';
							button.innerHTML = '<i class="icon-pencil"></i>';
							button.title = 'Choose your own password';
							button.onclick = function() {
								label.for = 'input-password';

								var password = document.createElement('input');
								password.type = 'password';
								password.id = 'input-password';
								password.name = 'password';
								password.required = 'required';
								container.insertBefore(password, wrapper);

								wrapper.parentNode.removeChild(wrapper);
								document.getElementById('input-password').focus();
							}

							wrapper.appendChild(input);
							wrapper.appendChild(button);
						})();
					</script>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<p><button type="submit" class="btn">All Done!</button></p>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}