{% extends 'auth/layout.html' %}
{% set bodyClass = 'sign-up' %}
{% set pageTitle = 'Almost there' %}
{% set navItem = 'auth' %}

{% block content %}
	<form class="form-horizontal row-fluid" method="post">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">
		<fieldset class="span12 well">
			<div class="control-group">
				<label class="control-label" for="input-email">Your Name</label>
				<div class="controls">
					<input type="text" id="input-first-name" name="first_name" value="{{ first_name }}" class="input-small" required="required" placeholder="First">
					<input type="text" id="input-last-name" name="last_name" value="{{ last_name }}" class="input-small" required="required" placeholder="Last">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input-email">Your parent's email</label>
				<div class="controls">
					<input type="email" id="input-email" name="parent_email" value="{{ parent_email }}" placeholder="e.g. user@example.com" required="required">
					<span class="help-block">We need to know you're not an robot!
						<br><strong><a href="/privacy">Please see our privacy policy.</a></strong></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" id="input-password-label" for="input-password">Your Password</label>
        <div class="controls">
					{% if passwordGenerated %}
						<input type="text" readonly="readonly" id="input-password" value="{{ password }}">
					{% else %}
						<input type="password" id="input-password" name="password">
					{% endif %}
					<div class="alert help-block">Print this page so you won't forget this! You'll need it to log in again later.</div>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<p><button type="submit" class="btn">Submit</button></p>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}

{% block finally %}
{% if not passwordGenerated %}
<script>
	(function() {
		{% include 'includes/password-test.js' %}
		setupPasswordStrengthTest();
	})();
</script>
{% endif %}
{% endblock %}
