{% extends 'auth/layout.html' %}
{% set bodyClass = 'sign-up' %}
{% set pageTitle = 'Almost there' %}
{% set navItem = 'sign-up' %}

{% block content %}
	<form class="form-horizontal row-fluid" method="post">
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">
		<fieldset class="span6 offset3 well">
			<div class="control-group">
				<label class="control-label" for="input-email">Your Name</label>
				<div class="controls">
					<input type="text" id="input-first-name" name="first_name" value="{{ first_name }}" class="input-small" required="required" placeholder="First">
					<input type="text" id="input-last-name" name="last_name" value="{{ last_name }}" class="input-small" required="required" placeholder="Last">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input-email">Email</label>
				<div class="controls">
					<input type="email" id="input-email" name="email" value="{{ email }}" required="required">
					<span class="help-block">You'll need this to claim your badges.
						<br><strong><a href="/privacy">Please see our privacy policy.</a></strong></span>
				</div>
			</div>

      <div class="control-group">
				<label class="control-label" id="input-school-label" for="input-school">School</label>
				<div class="controls">
					<input type="text" id="input-school" name="school" placeholder="Optional">
				</div>
			</div>

      <div class="control-group">
				<label class="control-label" id="input-student-id-label" for="input-student-id">CPS Student ID</label>
				<div class="controls">
					<input type="text" id="input-student-id" name="studentId" placeholder="Optional">
				</div>
			</div>

      <div class="control-group">
				<label class="control-label" id="input-gender-label" for="input-gender">Gender</label>
				<div class="controls">
					<select id="input-gender" name="gender">
            <option value=""></option>
            <option value="female">Female</option>
            <option value="male">Male</option>
          </select>
				</div>
			</div>

      <div class="control-group">
				<label class="control-label" id="input-ethnicity-label">Race/Ethnicity</label>
				<div class="controls">
          <label>
            <input type="radio" id="input-ethnicity" name="raceEthnicity" value="American Indian or Alaska Native">
            American Indian or Alaska Native
          </label>

          <label>
            <input type="radio" id="input-ethnicity" name="raceEthnicity" value="Asian">
            Asian
          </label>

          <label>
            <input type="radio" id="input-ethnicity" name="raceEthnicity" value="Black or African American">
            Black or African American
          </label>

          <label>
            <input type="radio" id="input-ethnicity" name="raceEthnicity" value="Hispanic/Latino">
            Hispanic/Latino
          </label>

          <label>
            <input type="radio" id="input-ethnicity" name="raceEthnicity" value="Native American or Other Pacific Islander">
            Native American or Other Pacific Islander
          </label>

          <label>
            <input type="radio" id="input-ethnicity" name="raceEthnicity" value="Two or More Races">
            Two or More Races
          </label>

          <label>
            <input type="radio" id="input-ethnicity" name="raceEthnicity" value="White">
            White
          </label>
        </div>
			</div>

      <div class="control-group">
				<label class="control-label" id="input-zipcode-label" for="input-zipcode">Zip Code</label>
				<div class="controls">
					<input type="text" id="input-zipcode" name="zipCode" placeholder="11111" pattern="[0-9]{5}">
				</div>
			</div>


      <div class="control-group">
				<label class="control-label" id="input-password-label" for="input-password">Your Password</label>
				<div class="controls">
					{% if passwordGenerated %}
						<input type="text" readonly="readonly" id="input-password" value="{{ password }}">
					{% else %}
						<input type="password" id="input-password" name="password">
					{% endif %}
					<div class="alert help-block">Print this page so you won't forget this! You'll need it to log in again later.</div>
				</div>
			</div>

      <div class="control-group">
				<div class="controls">
					<p><button type="submit" class="btn">All Done!</button></p>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}

{% block finally %}
<script>
	(function() {
		{% include 'includes/password-test.js' %}

		{% if passwordGenerated %}
			var $input = $('#input-password'),
			    $label = $('#input-password-label'),
			    $container = $input.parent(),
			    $wrapper = $(document.createElement('div')),
			    $button = $(document.createElement('button'));

			$wrapper
				.addClass('input-append')
				.insertBefore($input);

			$button
				.addClass('btn')
				.attr({type: 'button', title: 'Choose your own password'})
				.html('<i class="icon-pencil"></i>');

			$button.click(function() {
				var $password = $(document.createElement('input'));

				$password.attr({
					type: 'password',
					id: 'input-password',
					name: 'password',
					required: 'required'
				});

				$password.insertBefore($wrapper);
				$wrapper.remove();
				$password.focus();

				setupPasswordStrengthTest();
			});

			$wrapper
				.append($input)
				.append($button);
		{% else %}
			setupPasswordStrengthTest();
		{% endif %}
	})();
</script>
{% endblock %}
