{# A badge in a list or grid context #}
<figure class="thumbnail">
	<a href="{{ item.url }}"><img src="{{ item.image }}"></a>
	<figcaption class="caption">
		<p>{{ item.name }}</p>
		{% if item.description %}
			<p class="description">{{ item.description | truncate(20) }}</p>
		{% endif %}
		{% block item_actions_wrapper %}
			<p class="text-right">
				{% block item_actions %}
					<a href="{{ item.url }}" class="btn">Details</a>
					<div class="favd-status">
						{% if item.favd %}
							<i class="icon-heart"></i>
						{% else %}
							<form action="/mybadges/{{ item.id }}/favorite" method="POST" class="favorites-form">
								<button type="submit" class="btn show-tooltip" title="Add to your favorites"><i class="icon-heart"></i></button>
							</form>
						{% endif %}
					</div>
				{% endblock %}
			</p>
		{% endblock %}
	</figcaption>
</figure>
