{# A badge in a list or grid context #}
<figure class="thumbnail">
  <a href="{{ item.url }}"><img src="{{ item.image }}"></a>
  <figcaption class="caption">
    <p>{{ item.name }}</p>
    <p class="description">{{ item.description | default('description tbd') | truncate(20) }}</p>
    {% block item_actions_wrapper %}
      <p class="text-right">
        {% block item_actions %}
          <a href="{{ item.url }}" class="btn">Details</a>
        {% endblock %}
      </p>
    {% endblock %}
  </figcaption>
</figure>
