{% extends 'layout.html' %}
{% if not items %}{% set items = [] %}{% endif %}

{% block content %}
	{% block filter %}
		{% if filters %}
			<div class="navbar filter">
				<form class="navbar-inner navbar-form form-inline" method="get">
						{% for filter in filters %}
							<label for="filter-{{ filter.name }}" class="filter-icon filter-{{ filter.name }}">{{ filter.label }}</label>
							{% if filter.options %}
								<select id="filter-{{ filter.name }}" name="{{ filter.name }}" class="input-medium{% if filter.class %} {{ filter.class }}{% endif %}">
									<option></option>
										{% if filter.is_grouped %}
											{% for label, options in filter.options %}
												<optgroup label="{{ label }}">
													{% for value, label in options %}
														<option value="{{ value }}"{% if filter.selected == value %} selected="selected"{% endif %}>{{ label }}</option>
													{% endfor %}
												</optgroup>
											{% endfor %}
										{% else %}
											<option selected="selected" value="{{ value }}">{{ filter.name }}</option>
											{% for value, label in filter.options %}
												<option value="{{ value }}"{% if filter.selected == value %} selected="selected"{% endif %}>{{ label }}</option>
											{% endfor %}
										{% endif %}
								</select>
							{% else %}
								<input type="{{ filter.type | default('text') }}" id="filter-{{ filter.name }}" name="{{ filter.name }}" class="input-medium{% if filter.class %} {{ filter.class }}{% endif %}"{% if filter.value %} value="{{ filter.value }}"{% endif %}>
							{% endif %}
						{% endfor %}
						<input type="submit" value="Update" class="btn">
				</form>
			</div>
		{% endif %}
	{% endblock %}
	{% block list_wrapper %}
    {% if items.length %}
      <ul class="thumbnails">
        {% block list %}
          {% for item in items %}
            {% block item %}
              <li class="span3">
                {% if item.template %}
                  {% include item.template %}
                {% else %}
                  <figure class="thumbnail">
                    <a href="{{ item.url }}"><img src="{{ item.image }}"></a>
                    <figcaption class="caption">
                      <p>{{ item.name }}</p>
                      {% block item_actions_wrapper %}
                        <p class="text-right">
                          {% block item_actions %}
                            <a href="{{ item.url }}" class="btn">Details</a>
                          {% endblock %}
                        </p>
                      {% endblock %}
                    </figcaption>
                  </figure>
                {% endif %}
              {% endblock %}
            </li>
          {% endfor %}
        {% endblock %}
      </ul>
    {% else %}
      {% block no_data %}
        No data found.
      {% endblock %}
    {% endif %}
	{% endblock %}
	{% block pagination %}
		{% if pages > 1 %}
			<nav class="pagination pagination-centered">
				<ul>
					{% if page == 1 %}
						<li class="disabled"><span>&laquo;</span></li>
					{% else %}
						<li><a href="?page={{ page - 1 }}">&laquo;</a></li>
					{% endif %}
					{% for pageNum in range(1, (pages + 1)) %}
						{% if page == pageNum %}
							<li class="disabled"><span>{{ pageNum }}</span></li>
						{% else %}
							<li><a href="?page={{ pageNum }}">{{ pageNum }}</a></li>
						{% endif %}
					{% endfor %}
					{% if page == pages %}
						<li class="disabled"><span>&raquo;</span></li>
					{% else %}
						<li><a href="?page={{ page + 1 }}">&raquo;</a></li>
					{% endif %}
				</ul>
			</nav>
		{% endif %}
	{% endblock %}
{% endblock %}