{% extends 'layout.html' %}
{% set bodyClass = 'home' %}
{% set pageTitle = 'What are awesome things to do in Chicago this Summer?' %}

{% block content %}
<div class="row-fluid">
	<div class="span4">
		<a class="poster" href="/explore">
			<img src="/media/img/icon_learn.png" alt="">
		</a>
		<h3 class="text-center">Learn</h3>
		<p>Participate, play and learn! Find fun and rewarding stuff to do at organizations around the city, or online! There are even city-wide games that you can participate in this summer.</p>
	</div>
	<div class="span4">
		<a class="poster" href="/earn">
			<img src="/media/img/icon_badges.png" alt="">
		</a>
		<h3 class="text-center">Earn</h3>
		<p>Get recognized for the cool things you do over the summer - earn digital badges that capture your work and show them off at your school or to employers in the fall.</p>
	</div>
	<div class="span4">
		<a class="poster" href="/challenges">
			<img src="/media/img/icon_challenges.png" alt="">
		</a>
		<h3 class="text-center">Level Up</h3>
		<p>If you keep earning badges, you can unlock access to more cool stuff, including city-wide challenges and a summer party where you can showcase your work!</p>
	</div>
</div>
{% endblock %}