{% extends 'layout.html' %}
{% set bodyClass = 'home' %}
{% set pageTitle = 'What can you discover in Chicago Summer?' %}

{% block content %}
<div class="row-fluid">
	<div class="span4">
		<a class="poster" href="/learn">
			<img src="/media/images/icon_learn.png" alt="">
		</a>
		<h3>Programs</h3>
		<p>Participate, play and learn! Find local programs, online activities or city-wide games that you can participate in this summer.</p>
	</div>
	<div class="span4">
		<a class="poster" href="/badges">
			<img src="/media/images/icon_badges.png" alt="">
		</a>
		<h3>Badges</h3>
		<p>Get recognized for the work you do over the summer - earn digital badges for all of your skills and achievements and carry them back with you to schools and employers in the fall.</p>
	</div>
	<div class="span4">
		<a class="poster" href="/challenges">
			<img src="/media/images/icon_challenges.png" alt="">
		</a>
		<h3>Challenges</h3>
		<p>Keep earning badges to unlock access to additional opportunities in the city over the summer, including city-wide challenges and a summer party where you can show off your work.</p>
	</div>
</div>
{% endblock %}