{% extends 'layout.html' %}
{% set navitem = 'backpack' %}
{% set pageTitle = badge.name %}

{% block content %}
    <div class="row">
        <div class="span4">
            <img class="{{ badge.state }}"  src="{{ badge.image }}">
        </div>
        <div class="span8">
          <p>
            <b>Issued by:</b>
            {% if badge.program.issuer.url %}
              <a href="{{ badge.program.issuer.url }}">
            {% endif %}
            {{ badge.program.issuer.name }}
            {% if badge.program.issuer.url %}
              </a>
            {% endif %}
          </p>

          <p>
            <b>Issued to:</b> {{ user.email }}
          </p>

          <h3>What is this badge about?</h3>
          <p class="description">{{ badge.description }}</p>
        </div>
    </div>

    {% if similar %}
    <div class="row">
      <h3>Similar Badges</h3>
      <p>If you're interested in this badge, you might be interested in these too. These are badges on similar STEAM topics or ones that can take you to the next level.</p>

      {% for item in similar %}
      <div class="span3">
        {% include "includes/badge-thumbnail.html" %}
      </div>
      {% endfor %}

    </div>
    {% endif %}
{% endblock %}
