{% extends 'user/layout.html' %}

{% set pageTitle = 'My Badges' %}

{% block content %}
	<ul class="thumbnails">
		<li class="span3">
			<figure class="thumbnail">
				<img src="/media/images/badge.png" class="img-circle">
				<figcaption class="caption">
					<p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
					<p class="text-right"><a href="#" class="btn">Share</a></p>
				</figcaption>
			</figure>
		</li>
		<li class="span3">
			<figure class="thumbnail">
				<img src="/media/images/badge.png" class="img-circle">
				<figcaption class="caption">
					<p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
					<p class="text-right"><a href="#" class="btn">Share</a></p>
				</figcaption>
			</figure>
		</li>
		<li class="span3">
			<figure class="thumbnail">
				<img src="/media/images/badge.png" class="img-circle">
				<figcaption class="caption">
					<p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
					<p class="text-right"><a href="#" class="btn">Share</a></p>
				</figcaption>
			</figure>
		</li>
		<li class="span3">
			<figure class="thumbnail">
				<img src="/media/images/badge.png" class="img-circle">
				<figcaption class="caption">
					<p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
					<p class="text-right"><a href="#" class="btn">Share</a></p>
				</figcaption>
			</figure>
		</li>
		<li class="span3">
			<figure class="thumbnail">
				<img src="/media/images/badge.png" class="img-circle">
				<figcaption class="caption">
					<p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
					<p class="text-right"><a href="#" class="btn">Share</a></p>
				</figcaption>
			</figure>
		</li>
		<li class="span3">
			<figure class="thumbnail">
				<img src="/media/images/badge.png" class="img-circle">
				<figcaption class="caption">
					<p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
					<p class="text-right"><a href="#" class="btn">Share</a></p>
				</figcaption>
			</figure>
		</li>
		<li class="span3">
			<a href="/claim">
				<figure class="thumbnail">
					<img src="/media/images/add-badge.png" class="img-circle">
					<figcaption class="caption">
						<p>Claim another badge!</p>
					</figcaption>
				</figure>
			</a>
		</li>
	</ul>
{% endblock %}