{% extends 'filter.html' %}
{% set pageTitle = 'My Badges' %}
{% set navItem = 'backpack' %}

{% block content %}
  {% if user.underage %}
    <div class="alert alert-block">
      <h4>Welcome {{user.getDisplayName()}}!</h4>
      {{user.signuptoken}}
      <p>We need to be sure your parent or guardian is OK with you creating an account, so we've sent them an email. While you wait, check out the great badges you can earn: <a href="/explore">explore</a></p>
    </div>
  {% endif %}
  {{ super() }}
{% endblock %}

{% block list %}
  <p>See all the badges you have earned. Keep it up!</p>
  {{ super() }}
  <li class="span3">
  <figure class="thumbnail">
    <a href="/claim"><img src="/media/img/add-badge.png"></a>
    <figcaption class="caption">
      <p>Claim another badge!</p>
      <p class="text-right"><a href="/claim" class="btn">+1</a></p>
    </figcaption>
  </figure>
  </li>
{% endblock %}

{% block item_actions %}
{#
  {{ super() }}
  <a class="btn show-tooltip" title="Add to your favorites" href="{{ item.url }}/favorite"><i class="icon-heart"></i></a>
#}
{% endblock %}

{% block modal %}
  <!-- Modal -->
  <div id="shareModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Share This Badge</h3>
    </div>
    <div class="modal-body">
      <a href="#" class="btn btn-block"><i class="icon-twitter"></i> Twitter</a>
      <a href="#" class="btn btn-block"><i class="icon-facebook"></i> Facebook</a>
      <a href="#" class="btn btn-block">Mozilla Backpack</a>
    </div>
  </div>
  <div id="trashModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Are you sure you want to delete this badge?</h3>
    </div>
    <div class="modal-body">
      <a href="#" class="btn btn-block">Cancel</a>
      <a href="#" class="btn btn-block">Yes</a>
    </div>
  </div>
{% endblock %}

{% block no_data %}
<p>It doesn't look like you've earned any Chicago Summer of Learning badges yet. Have no fear! You can start now! Check out the <a href="/earn">Earn</a> page to find badges to earn!<p>
{% endblock %}
