{% extends 'layout.html' %}
{% set navitem = 'backpack' %}
{% set pageTitle = badge.name %}

{% block head %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ fullUrl }}">
  <meta property="og:title" content="I earned the {{ badge.name }} badge through the Chicago Summer of Learning!">
  <meta property="og:description" content="Come check out what I just earned from {{ badge.program.issuer.name }}. You can join the Chicago Summer of Learning too to explore what inspires you and earn recognition for all you accomplish.">
  <meta property="og:image" content="{{ badge.image }}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span4">
            <img src="{{ badge.image }}">
        </div>
        <div class="span8">
          <p>
            <b>Issued by:</b>
            {% if badge.program.issuer.url %}
              <a href="{{ badge.program.issuer.url }}">
            {% endif %}
            {{ badge.program.issuer.name }}
            {% if badge.program.issuer.url %}
              </a>
            {% endif %}
          </p>

          <p>
            <b>Issued to:</b> {{ user.email }}
          </p>

          <h3>What is this badge about?</h3>
          <p class="description">{{ badge.description }}</p>
        </div>
    </div>
{% endblock %}
