{% extends 'layout.html' %}
{% set navitem = 'backpack' %}
{% set pageTitle = badge.name %}

{% block content %}
    <div class="row">
        <div class="span4">
            <img src="{{ badge.image }}">
            <form action="{{ badge.url }}/favorite" method="POST">
              <button type="submit" class="btn">
                <i class="icon-heart"></i>
              </button>
            </form>
        </div>
        <div class="span8">
            <h3>What is this badge about?</h3>
            <p>{{ badge.description }}</p>
        </div>
    </div>
{% endblock %}
