{% extends 'layout.html' %}
{% set navitem = 'backpack' %}
{% set pageTitle = badge.name %}

{% block content %}
    {% if share %}
      <div class="row share">
        <div class="span12">
          {% if share.shared %}
            <p class="muted share-state">
              Public url: <a href="{{share.url}}">{{share.url}}</a>
            </p>
            <form method="post" action="{{share.toggleUrl}}">
              <button type="submit" class="btn btn-small share-toggle">Make it private.</button>
            </form>
          {% else %}
            <p class="muted share-state">
              This page is private.
            </p>
            <form method="post" action="{{share.toggleUrl}}">
              <button type="submit" class="btn btn-small share-toggle">Make it public.</button>
            </form>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="row">
        <div class="span4">
            <img src="{{ badge.image }}">
        </div>
        <div class="span8">
          <p>
            <b>Issued by:</b>
            {% if badge.program.issuer.url %}
              <a href="{{ badge.program.issuer.url }}">
            {% endif %}
            {{ badge.program.issuer.name }}
            {% if badge.program.issuer.url %}
              </a>
            {% endif %}
          </p>

          <p>
            <b>Issued to:</b> {{ user.email }}
          </p>

          {% if badge.evidence %}
            <p>
              <b>Evidence:</b> <a href="{{ badge.evidence }}">{{ badge.evidence }}</a>
            </p>
          {% endif %}

          <h3>What is this badge about?</h3>
          <p class="description">{{ badge.description }}</p>
        </div>
    </div>

    {% if similar %}
    <div class="row">
      <h3>Similar Badges</h3>
      <p>If you're interested in this badge, you might be interested in these too. These are badges on similar STEAM topics or ones that can take you to the next level.</p>

      {% for item in similar %}
      <div class="span3">
        {% include "includes/badge-thumbnail.html" %}
      </div>
      {% endfor %}

    </div>
    {% endif %}
{% endblock %}
