{% extends 'user/dashboard.html' %}

{% block tabs %}
	{{ super() }}
	<li class="pull-right">
		<span><a href="/dashboard/{{ current.username }}/delete" class="btn">Delete</a></span>
	</li>
{% endblock %}

{% block activity %}
	<h3>{{ current.getDisplayName() }}'s activity</h3>
	{% if current.activities.length %}
		<ul class="activity thumbnails">
			{% for activity in current.activities %}
				<li class="span3">
					<figure class="thumbnail">
						<a href=""><img src=""></a>
						<figcaption class="caption">
							<p></p>
							<p class="text-right"><a href="" class="btn">Details</a></p>
						</figcaption>
					</figure>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>{{ current.getDisplayName() }} does not have any recent activity.</p>
	{% endif %}
	<hr>
{% endblock %}