{% extends 'user/dashboard.html' %}
{% set pageTitle = current.getDisplayName() %}
{% block pageTitle -%}
	{{ current.getDisplayName() }}'s badge: {{ badge.name }}
{%- endblock %}

{% block activity %}
	{% if code %}
		<div class="alert">
			This badge application is waiting for your approval
		</div>
	{% endif %}
	<div class="row-fluid">
		<div class="span4">
			<img src="{{ badge.image }}">
		</div>
		<div class="span8">
			<p>
				<strong>Issued by:</strong>
				{% if badge.program.issuer.url -%}
					<a href="{{ badge.program.issuer.url }}">
				{%- endif -%}
				{{ badge.program.issuer.name }}
				{%- if badge.program.issuer.url -%}
					</a>
				{%- endif -%}
			</p>

			<p><strong>Issued to:</strong> {{ current.email }}</p>

			{% if badge.evidence %}
				<p><strong>Evidence:</strong> <a href="{{ badge.evidence }}">{{ badge.evidence }}</a></p>
			{% endif %}

			<h3>What is this badge about?</h3>
			<p class="description">{{ badge.description }}</p>
		</div>
	</div>
	{% if code %}
		<form method="post" class="text-center row-fluid">
			<input type="hidden" name="_csrf" value="{{ csrfToken }}">
			<button name="action" value="approve" class="btn btn-large">Allow this application</button>
			<button name="action" value="deny" class="btn btn-large">Deny this application</button>
		</form>
	{% endif %}
{% endblock %}
