{% extends 'user/layout.html' %}
{% block title %} | Dashboard{% endblock %}

{% block pageTitleWrapper %}
	<ul class="nav nav-tabs">
		{% block tabs %}
			<li{% if not current %} class="active"{% endif %}>
				<a href="/dashboard">Recent</a>
			</li>
			{% for dependant in dependants %}
				<li{% if dependant.username == current.username %} class="active"{% endif %}>
					<a href="/dashboard/{{ dependant.username }}">{{ dependant.getDisplayName()  }}</a>
				</li>
			{% endfor %}
		{% endblock %}
	</ul>
	{{ super() }}
{% endblock %}

{% block content %}
	{% block activity %}
		{% for current in dependants %}
		<h3>{{ current.getDisplayName() }}'s recent activity</h3>
		{% if current.activities.length %}
			<ul class="activity thumbnails">
				{% for activity in current.activities.slice(0,4) %}
					<li class="span3">
						{% include "includes/learner-activity.html" %}
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>{{ current.getDisplayName() }} does not have any recent activity.</p>
		{% endif %}
		<p class="text-right"><a href="/dashboard/{{ dependant.username }}" class="btn">See all activity &raquo;</a></p>
		{% endfor %}
	{% endblock %}
{% endblock %}