{% extends 'layout.html' %}
{% set pageTitle = user.username + '’s Playlist' %}
{% set bodyClass = 'myplaylist' %}
{% set navItem = 'backpack' %}
{% set subNavItem = 'playlist' %}


{% block content %}
	<p class="lead">What skills and interests are you working towards? Add badges you've got your eye on here! You can keep coming back to see what's next as you progress.</p>
	<p class="lead">As you earn these badges, they'll move to your <a href="/mybadges">My Badges</a> page</p>
	<div class="playlist">
		{% block playlist_list %}
			{% if playlist.length %}
				<ul class="thumbnails">
				{% for item in playlist %}
					{% set playlisted = true %}
					<li span="3">
						{% include "includes/badge-thumbnail.html" %}
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>There is nothing in your playlist yet. Check out badges you can <a href="/earn">earn here</a>.</p>
			{% endif %}
		{% endblock %}
	</div><!-- .playlist -->

	<div class="recommendations">
		<h3>Recommendations</h3>
		<p class="lead">Take a look at different badges that you can earn across science, technology, engineering, art and math (STEAM) categories.</p>
		{% for shortname, category in recommended %}
		<div class="category {{shortname}}">
			<div class="category-header">
				<h4>{{category.label}}</h4>
			</div>
			<p class="lead">
				Work towards
				{% if shortname == "art" or shortname == "engineering" %}
				an
				{% else %}
				a
				{% endif %}
				{{category.label}} badge by earning one achievement and one skill badge OR three skill badges!
			</p>
			<ul class="thumbnails">
				{% for item in category.badges %}
					<li span="3">
						{% include "includes/badge-thumbnail.html" %}
					</li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
	</div>
{% endblock %}
