{% extends 'layout.html' %}
{% set pageTitle = user.username + '’s Playlist' %}
{% set navItem = 'backpack' %}
{% set subNavItem = 'playlist' %}

{% block content %}
	<p class="lead">Some really short and sweet text about what a Playlist is goes here.</p>
	<div class="playlist">
		{% block playlist_list %}
			{% if playlist.length %}
				<ul class="thumbnails">
				{% for item in playlist %}
					<li span="3">
						{% include "includes/badge-thumbnail.html" %}
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>Nothing in your playlist yet …</p>
			{% endif %}
		{% endblock %}
	</div><!-- .playlist -->
{% endblock %}
