{% extends 'info/layout.html' %}
{% set pageTitle = 'About' %}
{% set navItem = 'about' %}
{% set bodyClass = 'about' %}

{% block head %}
  <!--[if (gt IE 9)|!(IE)]><!-->
  <style>
    .org-list {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
    .org-list [class*="span"] {
      float: none;
    }
  </style>
  <!--<![endif]-->
{% endblock %}

{% block content %}
  <div class="lead">
    <p>
      Join Chicago Mayor Rahm Emanuel in challenging local kids to participate in the Summer of Learning, a citywide effort to engage young people in hands-on learning. School stops for the summer, but learning never should.
    </p>
    <p class="lead">
      See how science, technology, engineering, art and math (STEAM) learning will rock the Windy City this summer.
    </p>
  </div>
  <div class="video">
    <iframe width="560" height="315" src="http://www.youtube.com/embed/6WwpwtYNsNk" frameborder="0" allowfullscreen></iframe>
  </div>
  <p class="lead">
    Kids can explore, play and learn with these organizations and earn badges along the way. They can unlock exploratory challenges and make their own projects to add to their skills. They'll showcase their work at an end of summer event in Chicago, into the next school year and beyond!
  </p>
  <p class="lead">Did you know that you can now enroll yourself and your family in programs at parks, libraries, community-based organizations and other places around Chicago? Find out more and apply for summer jobs at <a href="http://onesummerchicago.org/">One Summer Chicago</a>.</p>
  <p class="lead">Chicago has thousands of summer camps and recreation and learning opportunities for youth. To sign up for park programs, visit the <a href="http://chicagoparkdistrict.com/">Chicago Park District</a> or your nearest park. Similarly, to enroll in library programs, please go to your nearest library location or visit the <a href="http://chipublib.org/">Chicago Public Library</a>.</p>
  {% if orgs %}
    {% set nearestTen = (orgs.length // 10) * 10 %}
    <h4>Over {{ nearestTen }} Participating Organizations</h4>
    <ul class="row org-list">
    {% for org in orgs %}
      <li class="span4"><a href="{{ org.url }}">{{ org.name }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
