{% extends 'info/layout.html' %}
{% set pageTitle = 'FAQ' %}
{% set navItem = 'faq' %}
{% set bodyClass = 'faq' %}

{% block content %}
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/HgLLq7ybDtc" frameborder="0" allowfullscreen></iframe>
<h3>Learners</h3>
<dl>
  <dt>How do I get started?</dt>
  <dd>
    <p>After you sign up, you can:
    </p>
    <ul>
      <li>Look at the various badges available to earn.</li>
      <li>Learn about the programs you can sign up to do.</li>
      <li>See the online, self-paced learning activities that you can dive into right away.</li>
    </ul>
  </dd>

  <dt>How do I set up an account?</dt>
  <dd>
    <p>Setting up an account is easy:
    </p>
    <ul>
      <li>Click on the log in/sign up button.</li>
      <li>Enter an email address or a unique nickname and a password.</li>
      <li>Click Submit.</li>
    </ul>
    <p>If you are younger than 13 years old, you will need to enter your parent’s or guardian’s email address as well to confirm that it’s okay for you to be visiting this website.
    </p>
  </dd>

  <dt>There are a lot of things to do here. How do I find the right one for me?</dt>
  <dd>
    <p>Use the filter on the Learn page to narrow down the list of learning opportunities.
    </p>
    <p>You can filter the badges available based on the topic, the organization offering the badge, the age group best suited for the badge, the badge type (Participation, Skill, or Achievement), and activity type (online or offline).
    </p>
    <p>The badges fall into at least one topic in the following STEAM categories: Science, Technology, Engineering, the Arts, or Math. Some badges fit in more than one category – for example, a badge may apply to both science and math. Filter by topic to see the badges by these different areas of interest.
    </p>
    <p>Filter by organization to see the group offering the badge. The Chicago Summer of Learning has more than 100 organizations offering opportunities to earn badges, with more than 1,000 badges available.
    </p>
    <p>The age filter helps you find badges that are appropriate for your age group.
    </p>
    <p>The badge type filter helps you find badges that are based on skills, achievements, or participation.
    </p>
    <p>Finally, the activity type notes whether the activity takes place online or offline.
    </p>
    <p>After you’ve applied for and earned a badge, we’ll recommend other badges to you, too. You can click on those suggestions to get more information and see if any of them are interesting to you. Apply for as many as you’d like!
    </p>
  </dd>

  <dt>How do I earn a badge?</dt>
  <dd>
    <p>Click any badge to read details about the badge, including information on how to earn it. Some badges are awarded by local organizations based on work you do in their programs, others are available after completing activities online. The badge helps recognize what you learned and the work you did.
    </p>
    <p>You can show off all the badges you earned to your teachers, parents, and friends. Some badges are great to show when you’re applying for jobs!
    </p>
  </dd>

  <dt>How do I apply for a badge?</dt>
  <dd>
    <p>Each badge has different requirements and criteria, so read carefully and find out what you need to do to earn the badge. You might have to enter a code or create a piece of work. Follow the steps and let us know if you have any trouble with them – we’re here to help. You can email us at <a href="mailto:support@chicagosummeroflearning.org">support@chicagosummeroflearning.org</a> with any questions.
    </p>
  </dd>

  <dt>What happens after I apply for a badge?</dt>
  <dd>
    <p>A mentor will review your work and approve your application if you meet the criteria to earn the badge. If your work is approved, you’ll earn the badge and see it on your dashboard page.
    </p>
  </dd>

  <dt>After I apply for a badge, can a mentor decide not to award me the badge?</dt>
  <dd>
    <p>Yes, a mentor can decide not to award you the badge if you don’t meet all the requirements to earn it. This is why it’s important to make sure you follow all the steps necessary to earn each badge.
    </p>
  </dd>

  <dt>Can I reapply for a badge?</dt>
  <dd>
    <p>Yes, you can reapply as many times as you like.
    </p>
  </dd>

  <dt>Where can I see the badges that I’ve earned?</dt>
  <dd>
    <p>Go to your dashboard page to see all your badges. This includes badges you have applied for, those waiting for review, those already reviewed, and those favorited.
    </p>
  </dd>

  <dt>What can I do with the badges in my dashboard?</dt>
  <dd>
    <p>If you’re younger than 13 years old, you can see all that you’ve done during the summer and be proud!
    </p>
    <p>If you’re 13 years old or more, you can share all the badges you earned on Facebook or Twitter or send them to your Mozilla Backpack. There’s no need to humblebrag – show the world what you know!
    </p>
  </dd>

  <dt>Why should I display my badges?</dt>
  <dd>
    <p>Some of these badges show that you’ve learned skills that are valuable for internships and jobs. Others show skills that are specific to industries like music, the arts, technology, science, theater, and more. You can demonstrate all the things you know by making sure others can see your badges. You might also find others who share your interests!
    </p>
  </dd>

  <dt>Will my badges count for school credit in the fall?</dt>
  <dd>
    <p>Badges show the learning you’ve accomplished over the summer, not school credit. However, you can show the badges you earned throughout the summer to your teachers – some may count for credit, while others may unlock additional opportunities elsewhere.
    </p>
  </dd>

  <dt>Do I have to go enroll in an organization’s program to participate in Chicago Summer of Learning?</dt>
  <dd>
    <p>No, you do not. Chicago Summer of Learning offers a variety of online activities that you can do on your own and at your own pace. This way, the program celebrates learning in all forms and offers multiple ways for you to explore the city and learn and earn badges.
    </p>
  </dd>
</dl>

<h3>Parents</h3>
<dl>
  <dt>How do I sign up my child?</dt>
  <dd>
    <p>Signing up your child(ren) is easy:
    </p>
    <style>
    </style>
    <ol class="split-numbering">
      <li>Have your child sign up for an account by going to <a href="//chicagosummeroflearning.org">chicagosummeroflearning.org</a> and clicking log in/sign up.</li>
      <li class="split-item">
        <ol>
          <li>If your child is older than 13, s/he will be able to provide an email address and sign up to use the site without your approval.</li>
          <li>If your child is 13 years old or younger, s/he will be required to add the email address of a parent or guardian. You will be notified and asked to approve letting your child have an account on the Chicago Summer of Learning before we activate that account.</li>
        </ol>
      </li>
    </ol>
  </dd>

  <dt>What are the summer learning opportunities within Chicago Summer of Learning?</dt>
  <dd>
    <p>The site offers a wide variety of learning opportunities, including trips to museums, summer camps, and concert halls; activities involving civics, music, technology, and theater; and challenges to help develop your child’s self-confidence, leadership skills, and more.
    </p>
    <p>Nearly 100 Chicago-area organizations are participating by offering unique badges that fall into at least one of five categories: Science, Technology, Engineering, the Arts, and Mathematics. Some badges even span more than one category! In addition, a variety of online learning opportunities provide Chicago youth the chance to engage in learning at their own pace, whenever and wherever they can.
    </p>
    <p>Each badge includes specific information on the work necessary for badge achievement and the criteria assigned to it. This means your child will have very specific guidelines on what to do to earn the badge – and what it means once s/he has earned it.
    </p>
  </dd>

  <dt>How can I find programs and activities that my child will enjoy?</dt>
  <dd>
    <p>Go to the Learn page and use the filters in the dropdown menus to narrow down the list of learning opportunities. You and your child can filter the badges available based on the topic, the organization offering the badge, the age group best suited for the badge, the badge type (Participation, Skill, or Achievement), and activity type (online or offline).
    </p>
    <p>The badges fall into at least one topic in the following STEAM categories: Science, Technology, Engineering, the Arts, or Math. Some badges fit in more than one category – for example, a badge may apply to both science and math. Filter by topic to see the badges by these different areas of interest.
    </p>
    <p>Filter by organization to see the group offering the badge. The Chicago Summer of Learning has more than 100 organizations offering opportunities to earn badges, with more than 1,000 badges available.
    </p>
    <p>The age filter helps you find badges that are appropriate for your child’s age group.
    </p>
    <p>The badge type filter helps you find badges that are based on skills, achievements, or participation.
    </p>
    <p>Finally, the activity type notes whether the activity takes place online or offline.
    </p>
  </dd>

  <dt>Why badges?</dt>
  <dd>
    <p>Badges are a fun way to show off detailed learning, skills, and accomplishments in a very specific, unique way. Each badge has particular criteria that show what was learned, as well as what action was taken or project created as part of that learning.
    </p>
    <p>Badges also can be displayed on Facebook, Twitter, and other social profiles to encourage sharing (and a little bit of bragging).
    </p>
  </dd>

  <dt>Will my child’s badges count for school credit in the fall?</dt>
  <dd>
    <p>Badges show the learning your child has accomplished over the summer, not school credit. However, some badges may count for credit, while others may unlock additional opportunities elsewhere. To find out if any opportunities are available at school, your child should show all his/her summer badges to his/her teachers and ask if either of these is an option.
    </p>
  </dd>

  <dt>Can I delete badges from my child’s account?</dt>
  <dd>
    <p>If your child is younger than 13 years old, you may delete content from your child’s account at any time.
    </p>
  </dd>

  <dt>Can I cancel my child’s account with Chicago Summer of Learning?</dt>
  <dd>
    <p>If your child is younger than 13 years old, you may cancel your child’s account at any time.
    </p>
  </dd>
</dl>

<h3>Contact</h3>
<p>Do you have a question that wasn’t answered here? Email us at <a href="mailto:support@chicagosummeroflearning.org">support@chicagosummeroflearning.org</a> and we’ll help you as soon as we can.
</p>
{% endblock %}
