{% extends 'info/layout.html' %}
{% set pageTitle = 'FAQ' %}
{% set navItem = 'faq' %}
{% set bodyClass = 'faq' %}

{% block content %}
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/HgLLq7ybDtc" frameborder="0" allowfullscreen></iframe>
<h3>Learners</h3>
<dl>
  <dt>How do I get started?</dt>
  <dd>
    <p>After you sign up, you can:
    </p>
    <ul>
      <li>Look at the various badges available to earn.</li>
      <li>Learn about the programs you can sign up to do.</li>
      <li>See the online, self-paced learning activities that you can dive into right away.</li>
    </ul>
  </dd>

  <dt>How do I set up an account?</dt>
  <dd>
    <p>Setting up an account is easy:
    </p>
    <ul>
      <li>Click on the log in/sign up button.</li>
      <li>Enter an email address or a unique username and a password.</li>
      <li>Click Submit.</li>
    </ul>
    <p>If you are younger than 13 years old, you will need to enter your parent’s or guardian’s email address as well to confirm that it’s okay for you to be visiting this website.
    </p>
  </dd>

  <dt>There are a lot of things to do here. How do I find the right one for me?</dt>
  <dd>
    <p>Use the filters on the <a href="/explore">Explore</a> and <a href="/earn">Earn</a> pages to narrow down the list of learning opportunities. Start with Explore to find badge opportunities by program.
    </p>
    <p>On the <a href="/explore">Explore</a> page, you can filter programs available by:
    </p>
    <ul>
      <li>category (Science, Technology, Engineering, Art or Math),</li>
      <li>the age group best suited for the badge,</li>
      <li>the organization offering the badge, and</li>
      <li>activity (whether it’s online or offline).</li>
    </ul>
    <p>On the <a href="/earn">Earn</a> page, you can filter badges available by:
    <ul>
      <li>category (Science, Technology, Engineering, Art or Math),</li>
      <li>the age group best suited for the badge,</li>
      <li>type (whether it’s a participation, skill, or activity badge), and</li>
      <li>activity (whether it’s online or offline).</li>
    </ul>
    </p>
    <p>The badges all fall into at least one topic in the following science, technology, engineering, art and math (STEAM) categories. Some badges fit in more than one category – for example, a badge may apply to both science and math.
    </p>
    <p>The age filter helps you find badges that are appropriate for your age group. Badges are grouped by ages under 13, 13-18 and 19-24.
    </p>
    <p>Filter by organization to see the group offering the badge. The Chicago Summer of Learning includes more than 100 organizations offering opportunities to earn badges, and nearly 500 badges are available.
    </p>
    <p>The type filter helps you find badges that are based on skills, achievements or participation.
    </p>
    <p>Finally, the activity filter notes whether the activity takes place online or offline. 
    </p>
    <p>After you’ve applied for and earned a badge, we’ll recommend other badges to you, too. You can click on those suggestions to get more information and see if any of them are interesting to you. Apply for as many as you’d like!
    </p>
  </dd>

  <dt>How do I earn a badge?</dt>
  <dd>
    <p>Click any badge to read details about the badge, including information on how to earn it. Some badges are awarded by local organizations based on work you complete in their programs, while others are available after completing activities online. The badge helps recognize what you learned and the work you did. 
    </p>
    <p>You can show off all the badges you earned to your teachers, parents and friends. Some badges are great to show when you’re applying for jobs!
    </p>
  </dd>

  <dt>How do I apply for a badge?</dt>
  <dd>
    <p>Each badge has different requirements and criteria, so read carefully and find out what you need to do to earn the badge. You might need to enter a code or create a piece of work. Follow the steps and let us know if you have any trouble with them – we’re here to help. You can email us at support@chicagosummeroflearning.org with any questions.
    </p>
  </dd>
  
  <dt>Why does the site say my parent or guardian has to approve the badge?</dt>
  <dd>
    <p>If you are younger than 13 years old, your parent or guardian will need to approve each of the badges you apply to earn. If your application is approved by your parent or guardian, it next will go to a mentor for review. If the mentor decides that your badge application meets all the requirements, you will earn the badge. Your parent will have to approve the earned badge for it to appear in your portfolio.
    </p>
  </dd>

  <dt>What happens after I apply for a badge?</dt>
  <dd>
    <p>A mentor will review your work and approve your application if you meet the criteria to earn the badge. If your work is approved, you’ll earn the badge and see it on your dashboard page.
    </p>
  </dd>

  <dt>After I apply for a badge, can a mentor decide not to award me the badge?</dt>
  <dd>
    <p>Yes, a mentor can decide not to award you the badge if you don’t meet all the requirements to earn it. This is why it’s important to make sure you follow all the steps necessary to earn each badge.
    </p>
  </dd>

  <dt>Can I reapply for a badge?</dt>
  <dd>
    <p>Yes, you can reapply as many times as you like.
    </p>
  </dd>

  <dt>Where can I see the badges that I’ve earned?</dt>
  <dd>
    <p>Go to your dashboard page to see all your badges. This includes badges you have applied for, those waiting for review, those already reviewed, and those favorited.
    </p>
  </dd>

  <dt>What is the My Applications page for?</dt>
  <dd>
    <p>The My Applications page shows you badges you have applied for, those waiting for review, and those already reviewed. If you are under 13, this is where badges that are awaiting your parent or guardian approval are also available. 
    </p>
  </dd>
  
    <dt>What can I do with the badges in My Portfolio?</dt>
  <dd>
    <p>If you’re younger than 13 years old, you can see all that you’ve done during the summer and be proud!
    </p>
  </dd>

  <dt>Will my badges count for school credit in the fall?</dt>
  <dd>
    <p>Badges demonstrate the learning you’ve gained over the summer. They do not necessarily count for school credit. However, you can show the badges you earned throughout the summer to your teacher, who may decide that some badges should count for credit, while others may unlock additional opportunities elsewhere.
    </p>
  </dd>

  <dt>Do I have to go enroll in an organization’s program to participate in Chicago Summer of Learning?</dt>
  <dd>
    <p>You certainly <a href="/explore">can</a>, but its not the only way you can participate. Chicago Summer of Learning offers a variety of online activities that you can do on your own and at your own pace. This way, the program celebrates learning in all forms and offers multiple ways for you to explore the city and learn and earn badges.
    </p>
  </dd>
</dl>

<h3>Parents</h3>
<dl>
  <dt>How do I sign up my child?</dt>
  <dd>
    <p>Signing up your child(ren) is easy:
    </p>
    <style>
    </style>
    <ol class="split-numbering">
      <li>Have your child sign up for an account by going to <a href="//chicagosummeroflearning.org">chicagosummeroflearning.org</a> and clicking log in/sign up.</li>
      <li class="split-item">
        <ol>
          <li>If your child is older than 13, s/he will be able to provide an email address and sign up to use the site without your approval. </li>
          <li>If your child is under the age of 13, s/he will be required to add the e-mail address of a parent or guardian. You will be notified via that address and asked to approve your child having an account on the Chicago Summer of Learning site before we activate that account.</li>
        </ol>
      </li>
    </ol>
  </dd>

  <dt>Is it free to participate in the Chicago Summer of Learning?</dt>
  <dd>
    <p>Participation in many opportunities of Chicago Summer of Learning is free. Explore learning opportunities across the city and around the world with your child this summer!
    </p>
  </dd>
  
  <dt>What are the summer learning opportunities within Chicago Summer of Learning?</dt>
  <dd>
    <p>The site offers a wide variety of learning opportunities, including trips to museums, summer camps,and concert halls; activities involving civics, music, technology, and theater; and challenges to help develop your child’s self-confidence, leadership skills,and more. 
    </p>
    <p>Nearly 100 Chicago-area organizations are participating by offering unique badges that fall into at least one of five categories: science, technology, engineering, art and math. Some badges even span more than one category! In addition, a variety of online learning opportunities provide Chicago youth the chance to engage in learning at their own pace, whenever and wherever they can. 
    </p>
    <p>Each badge includes specific information on the work necessary for badge achievement and the criteria assigned to it. This means your child will have very specific guidelines on what to do in order to earn the badge.
    </p>
  </dd>

  <dt>How can I find programs and activities that my child will enjoy?</dt>
  <dd>
    <p>You and your child can use the filters on the <a href="/explore">Explore</a> and <a href="/earn">Earn</a> pages to select from a list of available learning opportunities. Start with Explore to find badge opportunities for your child by program.
    </p>
    <p>On the <a href="/explore">Explore</a> page, you can filter programs available by:
    <ul>
      <li>category (science, technology, engineering, art or math),</li>
      <li>the age group best suited for the badge,</li>
      <li>the organization offering the badge, and</li>
      <li>activity (whether it’s online or offline).</li>
    </ul>
    </p>
    <p>On the <a href="/earn">Earn</a> page, you can filter badges available by:
    <ul>
      <li>category (science, technology, engineering, art or math),</li>
      <li>the age group best suited for the badge,</li>
      <li>type (whether it’s a participation, skill, or activity badge), and</li>
      <li>activity (whether it’s online or offline).</li>
    </ul>
    </p>
    <p>The badges all fall into at least one topic in the STEAM categories. Some badges fit in more than one category – for example, a badge may apply to both science and math.
    </p>
    <p>The age filter helps you find badges that are appropriate for your child’s age group. Badges are grouped by ages under 13, 13-18 and 19-24.
    </p>
    <p>Filter by organization to see the group offering the badge. The Chicago Summer of Learning includes more than 100 organizations offering opportunities to earn badges, and nearly 500 badges are available.
    </p>
    <p>The type filter helps you find badges that are based on skills, achievements or participation. 
    </p>
    <p>Finally, the activity filter notes whether the activity takes place online or offline. 
    </p>
    <p>After your child has applied for and earned a badge (and, if your child is younger than 13 years old, after you have approved it), we’ll recommend other badges to earn. You and your child can click on those suggestions to get more information and see if any of them are interesting. Your child should apply for as many as he or she would like!
    </p>
  </dd>

  <dt>Why badges?</dt>
  <dd>
    <p>Badges are a fun way to show off detailed learning, skills, and accomplishments in a very specific, unique way. Each badge has particular criteria that show what was learned, as well as what action was taken or project created as part of that learning.
    </p>
    <p>Badges also can be displayed on Facebook, Twitter, and other social profiles to encourage sharing (and a little bit of bragging).
    </p>
  </dd>

  <dt>Will my child’s badges count for school credit in the fall?</dt>
  <dd>
    <p>Badges demonstrate the learning your child has gained over the summer. They do not necessarily count for school credit. However, your child can show the badges he or she earned throughout the summer to his or her teacher, who may decide that some badges should count for credit, while others may unlock additional opportunities elsewhere.
    </p>
  </dd>

  <dt>Can I delete badges from my child’s account?</dt>
  <dd>
    <p>If your child is younger than 13 years old, you may delete content from your child’s account at any time.
    </p>
  </dd>

  <dt>Can I cancel my child’s account with Chicago Summer of Learning?</dt>
  <dd>
    <p>If your child is younger than 13 years old, you may cancel your child’s account at any time.
    </p>
  </dd>
</dl>

<h3>Mentors</h3>
<dl>
  <dt>How do I sign in?</dt>
  <dd>
    <p>Signing in is easy:
    <style>
    </style>
    <ol class="split-numbering">
      <li>Go to <a href="//chicagosummeroflearning.org">chicagosummeroflearning.org</a> and clicking log in/sign up.</li>
      <li>Click the Log In or Sign Up button.</li>
      <li class="split-item">
        <ol>
          <li>If you have a Persona account, you will get authenticated and logged in.</li>
          <li>If you don’t have a Persona account, follow the on-site instructions to set one up.</li> 
        </ol>
      </li>
    </ol>
  </dd>

  <dt>How do I approve a submission?</dt>
  <dd>
    <p>
    <ol>
      <li>Go to http://assess.chicagosummeroflearning.org and sign into your account. After you’ve logged in, you’ll see the word Queue in the navigation bar. Click Queue to see the list of submissions you have to approve.</li>
      <li>Click Review to approve a submission. You’ll see an image or video of the work being submitted to earn the badge, along with a summary of what it is. Check off the criteria that the work meets in order to earn the badge.</li>
      <li>If the learner submitting the badge is 13 years old or older, you also can add personalized feedback if you’d like. If the learner is less than 13 years old, you can select a supplied response from the dropdown menu. You can choose more than one response from the list of supplied responses. </li>
      <li>After checking off the criteria that the submission meets to earn the badge, click Submit to approve the work and award the badge.</li>
      <li>Once you’ve reviewed a submission and awarded the badge, click the trash can icon to remove it from your queue.</li>
    </ol>
    </p>
  </dd>
  
  <dt>What do I do if a submission is spam?</dt>
  <dd>
    <p>Click the little flag icon to remove it from your queue – we’ll handle it.
    </p>
  </dd>
</dl>

<h3>Contact</h3>
<p>Do you have a question that wasn’t answered here? Email us at <a href="mailto:support@chicagosummeroflearning.org">support@chicagosummeroflearning.org</a> and we’ll help you as soon as we can.
</p>
{% endblock %}
