{% extends 'info/layout.html' %}
{% set pageTitle = 'After School Matters' %}
{% set navItem = 'asm' %}
{% set bodyClass = 'asm' %}
{% block content %}
  <div class="lead">
    <p><a href="http://www.afterschoolmatters.org/about">After School Matters&reg;</a> is a non-profit organization that offers Chicago high school teens innovative out-of-school activities through Science, Sports, Tech, Words and nationally recognized Gallery programs.</p>
    <p>Check out the variety of programs offered by After School Matters as part of the Chicago Summer of Learning below. You can contact {phone number} to learn more and enroll in programs that excite you.</p>
  </div>

  {% for grouper, list in orgs|groupby('organization_name') %}
    <h3>{{grouper}} {{list|length}}</h3>
    <hr>
    <ul class="orgs unstyled">
      {% for org in list %}
        <li>
          <h4>
            <a data-toggle="collapse" data-target="#collapse{{loop.index}}">{{org.program_name}}</a>
            <small>
              {{org.start}} - {{org.end}}
              &bull; <abbr title="Scienece Technology Engineering Art Math">STEAM</abbr>: {{org.steam}}
            </small>
          </h4>
          <div id="collapse{{loop.count}}" class="collapse">
            <p>
              {{org.program_description}}
            </p>
            <div class="meta">
              <p><strong>Region:</strong> {{org.region}}</p>
              <p><strong>Specialist:</strong> {{org.program_specialist}}</p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
  </ul>
{% endblock %}