{% extends 'info/layout.html' %}
{% set pageTitle = 'Chicago Summer of Learning Showcase' %}
{% set navItem = '' %}
{% set bodyClass = 'showcase' %}

{% block head %}
  <!--[if (gt IE 9)|!(IE)]><!-->
  <style>
    .org-list {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
    .org-list [class*="span"] {
      float: none;
    }
  </style>
  <!--<![endif]-->
{% endblock %}

{% block content %}
  <div class="lead">
    <p>
      Friday, August 16 from 1–5 p.m.
      <br>Museum of Science and Industry, 5700 S. Lake Shore Dr., Chicago
      <br><strong>Free admission</strong><br>Badges and raffle prizes open to all youth attendees 1,000 attendees expected
    </p>
  </div>
  <p>
      This summer thousands of Chicago youth have been exploring the city through programs offered by more than 100 community organizations through the Chicago Summer of Learning. As a result, Chicago’s youth have enjoyed a variety of opportunities to improve their skills and learn new ones in topics like sports and reading, archaeology and architecture, poetry, film making, fashion design and more – all while earning digital badges and leveling up to new challenges!
  </p>
  <p>
      The Chicago Summer of Learning Summer Showcase brings all these organizations under one roof to showcase their work, provide an opportunity to learn new skills, and continue inspiring others. There are three components to the events:
  </p>
  <ol>
      <li>A showcase for organizations to display their summer learning and projects.</li>
      <li>A Maker Party space where youth can make or learn new skills.</li>
      <li>A youth talent showcase where teams will show off their performance abilities.</li>
  </ol>
  <h3>
      Schedule of Events
  </h3>

  <table class="table">
      <tr>
          <td>
              <strong>9:30 - 12:30</strong>
          </td>
          <td>
              Setup
          </td>
      </tr>
      <tr>
          <td>
              <strong>1:00 - 4:00</strong>
          </td>
          <td>
              Registration
          </td>
      </tr>
      <tr>
          <td>
              <strong>&nbsp;</strong>
          </td>
          <td>
              Showcases open
          </td>
      </tr>
      <tr>
          <td>
              &nbsp;
          </td>
          <td>
              Maker Party space open
          </td>
      </tr>
      <tr>
          <td>
              &nbsp;
          </td>
          <td>
              Museum open
          </td>
      </tr>
      <tr>
          <td>
              <strong>4:00 - 4:45</strong>
          </td>
          <td>
              Talent Showcase
          </td>
      </tr>
      <tr>
          <td>
              <strong>4:45 - 4:55</strong>
          </td>
          <td>
              Raffle and talent winners announced
          </td>
      </tr>
      <tr>
          <td>
              <strong>4:55 - 5:00</strong>
          </td>
          <td>
              Closing remarks
          </td>
      </tr>
      <tr>
          <td>
              <strong>5:00 - 7:00</strong>
          </td>
          <td>
              Tear down
          </td>
      </tr>
  </table>

  <p>
      <strong>Parking at MSI:</strong>
      $10 in the East Lot accessed from Lakeshore Drive just south of 57th St. or $20 in the underground lot accessed from the west via E. 57th Dr./S. Cornell Ave. For more information on transportation to the event, please <a href="http://www.msichicago.org/visit-the-museum/museum-info/getting-here/">view MSI&rsquo;s &ldquo;getting here&rdquo; page</a>.
  </p>

  <p>
      <strong>Entrance:</strong>
      To enter the event you must come to the “group entrance” doors located in the North-West corner of the museum. It is in front of the underground parking entrance and visible from the main entrance of the museum on the north side. <a href="http://www.msichicago.org/fileadmin/pdf/groups/GroupBusMap_053013.pdf">View MSI’s Group Bus Map</a> (below) for the group entrance to the museum.
      <em>Note: Individuals will not be able to enter the Showcase event space from the museum directly but must walk to the group entrance designated below.</em>
      <img class="img-rounded" src="/media/img/GroupBusMap_053013.jpg">
  </p>

  <h4>Chicago Summer of Learning Showcase presented by</h4>
  <ul>
      <li>City of Chicago</li>
      <li>MacArthur Foundation</li>
      <li>Mozilla Foundation</li>
  </ul>
  <h4>In partnership with</h4>
  <ul>
      <li>The Museum of Science and Industry </li>
  </ul>
{% endblock %}
