/*general*/
html,
body {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
}
body .container > br {
  display: none;
}
#main {
  padding-top: 45px;
  padding-bottom: 25px;
}
#main > h1:first-child,
#main > h2:first-child,
#main > h3:first-child,
#main > h4:first-child,
#main > p:first-child {
  margin-top: 0px;
  padding-top: 0px;
}
#main > div > h1:first-child,
#main > div > h2:first-child,
#main > div > h3:first-child,
#main > div > h4:first-child,
#main > div > p:first-child {
  margin-top: 0px;
  padding-top: 0px;
}
ul,
ol {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.row,
[class*="span"] {
  margin-left: 0px;
}
/*navbar*/
.navbar .nav {
  float: none;
}
.navbar .nav > li > a {
  border-left: none;
  border-right: none;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background-color: inherit;
  border-left: none;
  border-right: none;
}
.navbar .nav > li:nth-child(even) {
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}
.navbar .nav > .navbar .nav > li:last-child {
  border-right: none;
}
.navbar .nav .active a,
.navbar .nav .active a:hover,
.navbar .nav .active a:focus {
  background-color: white;
  box-shadow: none;
}
.navbar .navbar-inner {
  background-image: url('../img/chalkboard_bg.jpg');
  -webkit-box-shadow: inset 0px -10px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -10px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -10px 20px 0px rgba(0, 0, 0, 0.25);
  padding-top: 1em;
}
.navbar .nav-wrap {
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 940px;
  margin-bottom: -24px;
  -webkit-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.25);
  background: white;
  text-align: center;
}
.navbar .nav-wrap ul {
  display: inline-block;
  margin: 0 0 0 0;
}
.navbar .nav-wrap ul > li {
  float: none;
  display: inline-block;
}
.navbar .nav-wrap ul > li > a {
  text-shadow: none;
  color: #333333;
  text-transform: uppercase;
}
.navbar .nav-wrap ul > li > a:focus,
.navbar .nav-wrap ul > li > a:hover {
  color: #c0c0c0;
}
.navbar .nav-wrap ul > li:last-child {
  border-right: none;
}
.navbar .brand {
  display: block;
  width: 671px;
  height: 220px;
  background-image: url('../img/csol_logo.png');
  background-repeat: no-repeat;
  margin: 0 auto;
  float: none;
  text-indent: -9000px;
}
/*footer*/
.footer {
  -webkit-box-shadow: inset 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
}
.footer a {
  color: #fff;
}
.footer a.logo {
  text-indent: -9000px;
  width: 82px;
  height: 82px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
}
.footer a.logo.chi {
  background-image: url('../img/chi.png');
}
.footer a.logo.mac {
  background-image: url('../img/mac.png');
}
.footer a.logo.moz {
  background-image: url('../img/moz.png');
}
.footer a:hover {
  color: #c0c0c0;
  text-decoration: none;
}
.footer .lower {
  border-top: 1px solid white;
  padding-top: 20px;
}
.footer .lower p {
  background-image: url('../img/csol_logo_sm.png');
  padding-left: 209px;
  background-repeat: no-repeat;
  background-position: top left;
  width: 400px;
  min-height: 131px;
  margin-bottom: 20px;
}
.footer .lower li {
  border-left: none;
  border-right: none;
}
.footer .upper {
  padding: 1em 0;
}
.footer ul li {
  display: inline-block;
}
.footer ul li > a,
.footer ul li > span {
  margin: 10px;
}
.footer ul li:first-child a {
  margin-left: 0px;
}
.footer ul li:nth-child(even) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.footer ul li:last-child {
  border-right: none;
}
/*sticky footer*/
.wrapper {
  width: 100%;
}
.wrapper .inner-wrapper {
  width: 100%;
}
.wrapper.primary {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0px 0px -250px 0px;
}
.wrapper.primary .inner-wrapper {
  padding: 0px 0px 250px 0px;
}
.wrapper.secondary {
  color: #fff;
  height: 250px;
  background-image: url('../img/chalkboard_bg.jpg');
}
/*CSOL-site specific*/
.poster a,
.poster img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#menu-login-form {
  padding: 10px;
  text-align: left;
}
/*Evidence uploading / application*/
#application-review .well {
  margin-left: -20px;
  margin-right: -20px;
}
#edit-application {
  margin-bottom: 20px;
}
#edit-application .items {
  list-style: none;
  margin: 0;
  border: solid 1px #CCC;
  border-radius: 4px 4px 0 0;
}
#edit-application .item {
  padding: 9.5px;
  position: relative;
  border-top: solid 1px #DDD;
  margin: 0;
  background: #F5F5F5;
}
#edit-application .item:first-child {
  border-top: none;
  border-radius: 4px 4px 0 0;
}
#edit-application .item:nth-child(even) {
  background: #F0F0F0;
}
#edit-application .item input {
  display: block;
  width: 100%;
}
#edit-application .item label {
  display: block;
  margin-bottom: 0;
}
#edit-application .item .description span {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
#edit-application .item .description span em {
  display: block;
  margin-top: 5px;
}
#edit-application .item .filename {
  padding: 5px 30px 5px 5px;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
#edit-application .item .remove {
  position: absolute;
  top: 9.5px;
  right: 9.5px;
  padding: 0;
  width: 20px;
  height: 20px;
}
#edit-application .item .progress {
  margin: 0;
  height: 10px;
}
#edit-application .buttons {
  border: solid 1px #DDD;
  border-top-color: #CCC;
  padding: 9.5px;
  margin: 0;
  border-radius: 0 0 4px 4px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
#edit-application .buttons .btn {
  margin-left: 9.5px;
}
#edit-application.advanced .item input {
  position: absolute;
  right: 200%;
  opacity: 0;
}
#evidence .item {
  position: relative;
}
#evidence .thumbnail {
  background: #FFF;
}
#evidence .processing::after {
  content: "Processing";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  padding: 2px 5px;
  background: #FFF;
  background: rgba(255, 255, 255, 0.75);
  text-align: center;
  border-bottom: solid 1px #999;
}
#evidence img {
  display: block;
  width: 100%;
  min-width: 150px;
  min-height: 150px;
  margin: 0;
}
#evidence form {
  margin: 0;
}
#evidence label {
  position: absolute;
  bottom: -6px;
  right: -6px;
  width: 32px;
  height: 32px;
  background: url('../images/delete.png') 50% 50% no-repeat;
  text-indent: -999em;
  margin: 0;
}
.upload-list {
  list-style: none;
  margin: 20px 0;
}
.upload-list li {
  margin: 5px 0 0;
}
.upload-list .details {
  position: relative;
}
.upload-list .details .meta {
  position: relative;
  z-index: 1;
  padding: 3px 10px;
}
.upload-list .details .filename {
  font-weight: bold;
}
.upload-list .details .progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.upload-list .details .progress .bar {
  opacity: 0.5;
}
