{% extends 'programs/layout.html' %}
{% set pageTitle = program.name %}
{% set user = {} %}

{% block content %}
    <div class="row">
        <div class="span4">
            <img src="{{program.imageUrl}}">
        </div>
        <div class="span8">
            <p><strong>From <a href="/orgs/some-organization">Some Organization</a>.</strong></p>
            {% if program.description %}
                <p>{{program.description}}</p>
            {% endif %}

            <p class="text-right">
            </p>
        </div>
    </div>
    <h3><a href="/badges">Badges</a></h3>
    <ul class="thumbnails">
        <li class="span3">
            <figure class="thumbnail">
                <a href="/badges/ae784f"><img src="/media/images/badge.png"></a>
                <figcaption class="caption">
                    <p>Badge blah in voluptate velit...</p>
                    <p class="text-right">
                        <a href="/badges/ae784f" class="btn">Details</a>
                    </p>
                </figcaption>
            </figure>
        </li>
        <li class="span3">
            <figure class="thumbnail">
                <a href="/badges/ae784f"><img src="/media/images/badge.png"></a>
                <figcaption class="caption">
                    <p>Badge blah in voluptate velit...</p>
                    <p class="text-right">
                        <a href="/badges/ae784f" class="btn">Details</a>
                    </p>
                </figcaption>
            </figure>
        </li>
    </ul>
{% endblock %}