{% extends 'programs/layout.html' %}
{% set pageTitle = program.name %}
{% set user = {} %}

{% block content %}
    <div class="row">
        <div class="span4">
          <figure class="program-thumbnail thumbnail">
            <img src="{% if program.imageUrl %}{{ program.imageUrl }}{% else %}{{program.issuer.imageUrl}}{% endif %}">
          </figure>
        </div>
        <div class="span8">
            <p><strong>From <a href="{{program.url}}">{{program.issuer.name}}</a>.</strong></p>
            {% if program.description %}
                <p>{{program.description}}</p>
            {% endif %}
            <p class="text-right"></p>
        </div>
    </div>
    <h3>Badges You Can Earn through this Program</h3>
    <ul class="thumbnails">
        {% for shortname,badge in program.earnableBadges %}
        <li class="span3">
            <figure class="thumbnail">
                <a href="/earn/{{shortname}}"><img src="{{badge.image}}"></a>
                <figcaption class="caption">
                    <p>{{badge.description}}</p>
                    <p class="text-right">
                        <a href="/earn/{{shortname}}" class="btn">Details</a>
                    </p>
                </figcaption>
            </figure>
        </li>
        {% endfor %}
    </ul>
{% endblock %}