{% extends 'orgs/layout.html' %}
{% set pageTitle = 'Some Organization' %}

{% block content %}
	<div class="row">
		<div class="span4">
			<img src="/media/images/org-large.png">
		</div>
		<div class="span8">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<p class="text-right">
			</p>
		</div>
	</div>
	<h3><a href="/programs">Programs</a></h3>
	<ul class="thumbnails">
		<li class="span3">
			<figure class="thumbnail">
				<a href="/programs/ae784f"><img src="/media/images/program.png"></a>
				<figcaption class="caption">
					<p>Program blah sed do eiusmod...</p>
					<p class="text-right">
						<a href="/programs/ae784f" class="btn">Details</a>
					</p>
				</figcaption>
			</figure>
		</li>
		<li class="span3">
			<figure class="thumbnail">
				<a href="/programs/ae784f"><img src="/media/images/program.png"></a>
				<figcaption class="caption">
					<p>Program blah sed do eiusmod...</p>
					<p class="text-right">
						<a href="/programs/ae784f" class="btn">Details</a>
					</p>
				</figcaption>
			</figure>
		</li>
		<li class="span3">
			<figure class="thumbnail">
				<a href="/programs/ae784f"><img src="/media/images/program.png"></a>
				<figcaption class="caption">
					<p>Program blah sed do eiusmod...</p>
					<p class="text-right">
						<a href="/programs/ae784f" class="btn">Details</a>
					</p>
				</figcaption>
			</figure>
		</li>
	</ul>
{% endblock %}