{% extends 'layout.html' %}
{% set bodyClass = 'challenges' %}
{% set pageTitle = 'Level Up' %}

{% block content %}
<style type="text/css">
	p {
		margin:18px 0;
	}
</style>
<div class="row text-left">
	<p>
		Try out citywide challenges where you can use your new skills and build cool stuff. You can architect the future Chicago skyline, design your first fashion line and make a documentary film about your neighborhood!
	</p>
	<h3>
		How to unlock challenges:
	</h3>
	<div style="position:relative; background:url('/media/img/levelup-1.png'); width:569px; height:168px;">
		<span style="position:relative;font-size:24px;left:24px;top:74px">1</span>
	</div>
	<p>
		First you earn badges from various programs, self-paced online activities and games.
	</p>
	<div style="position:relative; background:url('/media/img/levelup-2.png'); width:711px; height:191px;">
		<span style="position:relative;font-size:24px;left:24px;top:43px">2</span>
	</div>
	<p>
		By earning a combination of these badges, you are awarded the city-level badges for work in science, technology, engineering, arts and math, which are called STEAM fields.
	</p>

	<div style="position:relative; background:url('/media/img/levelup-3.png'); width:570px; height:197px;">
		<a style="text-decoration:none;color:#000;" href="http://www.explorechi.org/l/pathways/" target="_blank">
			<span style="position:relative;font-size:24px;left:24px;top:54px">3</span>
		</a>
	</div>
	<p>
		These STEAM badges unlock access to citywide challenges. You can choose to demonstrate your new skills and build cool things for Chicago while earning more badges.
	</p>
</div>

{% endblock %}
