{% extends 'layout.html' %}

{% block content %}
Level up to city-wide challenges where you can use your new skills and build cool stuff. You could architect the future Chicago skyline, design your first fashion line or make a documentary about your neighborhood!

How to unlock challenges:

First you earn badges from various programs, self-paced online activities and games.

By earning a combination of these badges, you are awarded the city-level STEAM badges.

These STEAM badges unlock access to the city-wide challenges where you can choose how to demonstrate your new skills and earn more badges while building something cool for Chicago.
{% endblock %}
