{% extends 'badges/layout.html' %}
{% set pageTitle = badge.name %}

{% block content %}
    <div class="row-fluid">
        <div class="span4">
            <img src="{{ badge.image }}">
        </div>
        <div class="span8">
            <h3>What is this badge about?</h3>
            <p>{{ badge.description }}</p>

            {% if not user or user.type == 'learner' %}
                <h3>How can you earn it?</h3>

                <p class="text-right">
                    {% if badge.activityType == 'offline' %}
                        <a href="/claim" class="btn">Claim this badge</a>
                    {% else %}
                        <a href="{{ badge.url }}/apply" class="btn">Apply</a>
                    {% endif %}
                </p>
            {% endif %}
        </div>
    </div>

    {% if relatedBadges and relatedBadges|length > 0 %}
      <h3><a href="/badges">Similar or Related Badges</a></h3>
      <p>If you're interested in this badge, you might be interested in these too. These are badges on similar STEAM topics or ones that can take you to the next level.</p>
      <ul class="thumbnails">
          {% for relatedBadge in relatedBadges %}
          <li class="span3">
              {% set item = relatedBadge %}
              {% include "includes/badge-thumbnail.html" %}
          </li>
          {% endfor %}
      </ul>
    {% endif %}
{% endblock %}
