{% extends 'badges/layout.html' %}
{% set pageTitle = badge.name %}

{% block content %}
    <div class="row">
        <div class="span4">
            <img src="{{ badge.image }}">
        </div>
        <div class="span8">
            <h3>What is this badge about?</h3>
            <p>{{ badge.description }}</p>

            <h3>How can you earn it?</h3>

            <p class="text-right">
                {% if badge.activityType == 'offline' %}
                    <a href="{{ badge.url }}/claim" class="btn">Claim this badge</a>
                {% else %}
                    <a href="{{ badge.url }}/apply" class="btn">Apply</a>
                {% endif %}
            </p>
        </div>
    </div>

    <h3><a href="/badges">Similar or Related Badges</a></h3>
    <p>If you're interested in this badge, you might be interested in these too. These are badges on similar STEAM topics or ones that can take you to the next level.</p>
    <ul class="thumbnails">
        <li class="span3">
            <figure class="thumbnail">
                <a href="/badges/ae784f"><img src="/media/images/badge.png"></a>
                <figcaption class="caption">
                    <p>Badge blah in voluptate velit...</p>
                    <p class="text-right">
                        <a href="/badges/ae784f" class="btn">Details</a>
                        <a class="btn show-tooltip" title="Save this badge to your favorites" href="/badges/ae784f/favorite"><i class="icon-heart"></i></a>
                    </p>
                </figcaption>
            </figure>
        </li>
        <li class="span3">
            <figure class="thumbnail">
                <a href="/badges/ae784f"><img src="/media/images/badge.png"></a>
                <figcaption class="caption">
                    <p>Badge blah in voluptate velit...</p>
                    <p class="text-right">
                        <a href="/badges/ae784f" class="btn">Details</a>
                        <a class="btn show-tooltip" title="Save this badge to your favorites" href="/badges/ae784f/favorite"><i class="icon-heart"></i></a>
                    </p>
                </figcaption>
            </figure>
        </li>
        <li class="span3">
            <figure class="thumbnail">
                <a href="/badges/ae784f"><img src="/media/images/badge.png"></a>
                <figcaption class="caption">
                    <p>Badge blah in voluptate velit...</p>
                    <p class="text-right">
                        <a href="/badges/ae784f" class="btn">Details</a>
                        <a class="btn show-tooltip" title="Save this badge to your favorites" href="/badges/ae784f/favorite"><i class="icon-heart"></i></a>
                    </p>
                </figcaption>
            </figure>
        </li>
        <li class="span3">
            <figure class="thumbnail">
                <a href="/badges/ae784f"><img src="/media/images/badge.png"></a>
                <figcaption class="caption">
                    <p>Badge blah in voluptate velit...</p>
                    <p class="text-right">
                        <a href="/badges/ae784f" class="btn">Details</a>
                        <a class="btn show-tooltip" title="Save this badge to your favorites" href="/badges/ae784f/favorite"><i class="icon-heart"></i></a>
                    </p>
                </figcaption>
            </figure>
        </li>
    </ul>
{% endblock %}
