{% extends 'learn/single.html' %}
{% set bodyClass = 'activity' %}
{% block content %}
<div class="row">
	<div class="span4">
		<img src="http://placehold.it/300x300&text=Hello world" />.
	</div><!-- .span4 -->
	<div class="span8">
		<h3 class="activity">Learn Activity Title</h3>
		<p>June 2013</p>
		<p class="activity-description">A urna hac porta porttitor ac pulvinar scelerisque, sit ac augue in, duis habitasse, ut, elementum etiam placerat? Nec montes nunc proin nunc, penatibus adipiscing! Scelerisque ut, tempor? Tempor lorem integer tempor eros in phasellus magna tincidunt amet porta! Pulvinar ultricies sagittis, augue porta? Adipiscing? Integer. A! Ut, placerat velit sed elit, tortor ac porttitor turpis purus elit adipiscing amet pulvinar aenean in magna sit nec cum? Mid porttitor. Arcu? Duis. Ridiculus, et hac ut dignissim hac integer! Adipiscing sed. Auctor augue ac et? Quis, turpis, arcu vel eros diam elementum amet penatibus mus odio, nec? Dapibus et! Pid amet dapibus ut, urna amet et aenean urna pulvinar tincidunt placerat augue aenean. Lectus lorem? Sit sed sagittis, duis ut! Augue.</p>
		<a href="#" class="btn btn-large btn-inverse">Get Started</a>
		<a class="btn btn-large" href="/explore/programs/some-program/favorite"><i class="icon-heart"></i></a>
	</div><!-- .span8 -->
</div><!-- .row -->
	<h3><a href="/badges">Related Badges</a></h3>
	<ul class="thumbnails">
		<li class="span3">
			<figure class="thumbnail">
				<a href="/badges/ae784f"><img src="/media/images/badge.png"></a>
				<figcaption class="caption">
					<p>Badge blah in voluptate velit...</p>
					<p class="text-right">
						<a href="/badges/ae784f" class="btn">Details</a>
					</p>
				</figcaption>
			</figure>
		</li>
		<li class="span3">
			<figure class="thumbnail">
				<a href="/badges/ae784f"><img src="/media/images/badge.png"></a>
				<figcaption class="caption">
					<p>Badge blah in voluptate velit...</p>
					<p class="text-right">
						<a href="/badges/ae784f" class="btn">Details</a>
					</p>
				</figcaption>
			</figure>
		</li>
		<li class="span3">
			<figure class="thumbnail">
				<a href="/badges/ae784f"><img src="/media/images/badge.png"></a>
				<figcaption class="caption">
					<p>Badge blah in voluptate velit...</p>
					<p class="text-right">
						<a href="/badges/ae784f" class="btn">Details</a>
					</p>
				</figcaption>
			</figure>
		</li>
		<li class="span3">
			<figure class="thumbnail">
				<a href="/badges/ae784f"><img src="/media/images/badge.png"></a>
				<figcaption class="caption">
					<p>Badge blah in voluptate velit...</p>
					<p class="text-right">
						<a href="/badges/ae784f" class="btn">Details</a>
					</p>
				</figcaption>
			</figure>
		</li>
	</ul>

{% endblock %}